.header {
    display: flex;
    align-items: center;
    padding-left: 200px;
    background-color: gray;
    color: white;
}

.icon {
    margin-right: 10px;
    font-size: 30px;
    color: orange;
}

.header2 {
    margin-top: 50px;
    margin-left: 50px;
}